#splash-page {
    background-color: #A2E0CB;
    height: 1000px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.splash-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splash-panel.one {
    margin-top: 126px;
    background-color: white;
}

.left-panel {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-comments-dollar,
.fa-money-bill-wave {
    font-size: 350px;
}

.splash-panel.two {
    background-color: #A2E0CB;
}

.homepage-header {
    font-size: 70px;
    font-weight: 700;
    margin: 55px 0 10px 0;
    width: 350px;
}

.homepage-tagline {
    font-size: 22px;
    font-weight: 400;
    width: 350px;
}

#homepage-signup-button {
    font-size: 23px;
    color: #fff;
    background-color: #466158;
    border-color: transparent;
    margin: 4px 0 50px 0;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 11px 32px 12px;
}

#homepage-signup-button:hover {
    background-color: #2e413b;
}


a {
    background-color: transparent;
}

a:hover{
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

#homepage-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 5vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#about {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway';
}

#about:hover {
    color: #A2E0CB;
    cursor:pointer;
}