#splash-page {
    background-color: #A2E0CB;
    height: 100%;
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.splash-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splash-panel.one {
    background-color: rgb(245, 245, 245);
}

.left-panel {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel img,
.right-panel img {
    max-width: 40vw;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-panel.two {
    background-color: #A2E0CB;
}

.homepage-header {
    font-size: 7vh;
    font-weight: 700;
    margin: 55px 0 10px 0;
    width: 350px;
}

.homepage-tagline {
    font-size: 22px;
    font-weight: 400;
    width: 350px;
}

#homepage-signup-button {
    font-size: 23px;
    color: #fff;
    background-color: #466158;
    border-color: transparent;
    margin: 4px 0 50px 0;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 11px 32px 12px;
    font-family: 'Raleway';
}

#homepage-signup-button:hover {
    background-color: #2e413b;
}


a {
    background-color: transparent;
}

a:hover{
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

#homepage-footer {
    position: sticky;
    bottom: 0px;
    min-height: 50px;
    height: 7vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#about {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway';
}

#about:hover {
    color: #A2E0CB;
    cursor:pointer;
}

@media screen and (max-width: 750px) {
    .splash-panel {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        height: fit-content;
        align-items: center;
    }

    .homepage-header {
        margin-top: 50px;
        text-align: center;
        font-size: 40px;
        width: 85%;
    }

    .homepage-tagline {
        width: 85%;
        padding: 25px;
        text-align: center;
        font-size: 24px;
    }

    #homepage-signup-button {
        width: 60%;
    }

    .right-panel img,
    .left-panel img {
        max-width: 50vw;
        margin-bottom: 50px;
    }

    .splash-panel.two {
        flex-direction: column-reverse;
    }
}