#content {
    display: grid;
    grid-template-columns: 65% 35%;
}

#newsfeed-container {
    display: flex;
    justify-content: center;
}

#newsfeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border-left: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210);
}

.transaction-content {
    width: 100%;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-bottom: 20px;
}

.content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.neg-amount {
    color: red;
}

.pos-amount {
    color: green;
}

.transaction-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

.transaction-information {
    display: flex;
    width: 100%;
}

.transaction-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    color: gray;
}

.user-name {
    font-weight: bold;
}

.creator-picture {
    height: 50px;
    width: 50px;
    object-fit: cover;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.transaction-details {
    margin-top: 8px;
}

.icon-container {
    margin-top: 20px;
    display: flex;
}

.icon-container .fa-heart,
.icon-container .fa-comment {
    margin-right: 7px;
}

.likes-container {
    margin-right: 25px;
}

.icon-container a:visited,
.icon-container a,
.fa-heart {
    color: gray;
}

.fa-heart.liked {
    color: green;
}

.fa-heart:hover,
.fa-comment:hover,
.fa-edit:hover,
.fa-trash:hover {
    cursor: pointer;
    color: rgb(65, 65, 65);
}