#home-content {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
    overflow-y:scroll;
}

#newsfeed-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid rgb(210, 210, 210);
    overflow-y: auto;
}

#newsfeed-container.dark {
    background-color: rgb(50, 50, 50);
    color: white;
}

#newsfeed::-webkit-scrollbar {
    width: 0 !important;
}

#newsfeed {
    overflow-y: scroll;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#newsfeed-filter {
    margin-top: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 32px;
    display: flex;
}

#filter-active {
    background-color: rgb(101, 101, 101);
    color: white;
}

.filter-button {
    border-radius: 32px;
    min-height: 32px;
    min-width: 80px;
    font-size: 20px;
    background-color: white;
    border: none;
}


.transaction-content {
    width: 100%;
    padding-bottom: 20px;
}

.transaction-content.dark {
    color: white;
}

.content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.neg-amount {
    color: rgb(189, 0, 0);
}

.neg-amount.dark {
    color: rgb(255, 0, 0);
}

.pos-amount {
    color: green;
}

.pos-amount.dark {
    color: rgb(0, 245, 0);
}

.transaction-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid rgb(210, 210, 210);
    margin: 10px 0;
}

.transaction-container:nth-child(1) {
    border-top: 1px solid rgb(210, 210, 210);
    padding-top: 20px;
}

.transaction-information {
    display: flex;
    width: 100%;
}

.transaction-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    color: gray;
}

.user-name {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.user-name.dark {
    color: white;
}

a.user-name.dark {
    color: white;
}

.user-name:visited {
    color: black;
}

.user-name:hover {
    cursor: pointer
}

.creator-picture {
    height: 50px;
    width: 50px;
    object-fit: cover;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.transaction-details {
    margin-top: 8px;
}

.elapsed-time {
    margin: 3px 0 0 0;
    color: gray;
    font-size: 13px;
}

.elapsed-time.dark {
    color: rgb(169, 169, 169);
}

.icon-container {
    margin-top: 20px;
    display: flex;
}

.icon-container .fa-heart,
.icon-container .fa-comment {
    margin-right: 7px;
}

.likes-container {
    position: relative;
    margin-right: 25px;
}

.num-likes {
    position: absolute;
}

.icon-container a:visited,
.icon-container a,
.fa-heart {
    color: rgb(162, 162, 162);
}

.icon-container.dark a:visited,
.icon-container.dark a,
.icon-container.dark .fa-heart {
    color: rgb(155, 155, 155);
}

.fa-heart.liked {
    color: #46C79C;
}

.icon-container.dark .fa-heart.liked {
    color: #4ed7a9;
}

.fa-heart:hover,
.fa-comment:hover,
.fa-edit:hover,
.fa-trash:hover {
    cursor: pointer;
    color: rgb(65, 65, 65);
}

#pay-mobile {
    text-decoration: none;
    margin: 10px;
    display: none;
    visibility: hidden;
    position: absolute;
}

#newsfeed-container > #users-search-ctr {
    display: none;
    visibility: hidden;
    position: absolute;
}



@media screen and (max-width: 1200px) {
    #home-content {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #home-content > #newsfeed-container > #users-search-ctr {
        display: flex;
        visibility: visible;
        position: relative;
        width: 100%;
    }

    #pending > #users-search-ctr {
        display: none;
        visibility: hidden;
        position: absolute;
    }
}