#splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #A2E0CB;
    padding: 0 30px;
    width: 100%;
    position:fixed;
    top: 0px;
    z-index: 10;
    height: 129px;
    box-sizing: border-box;
}

#splash-nav-left {
    display: flex;
    align-items: center;
}

#about-link {
    margin-left: 50px;
    font-size: 20px;
}

#about-link:hover {
    color: #587d71;
    cursor: pointer;
}

#splash-nav-right {
    list-style-type: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

#splash-nav li {
    margin: 15px;
}

#splash-nav a:link, a:visited,
#about-link:visited,
#about-link {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
    animation: smooth .25s ease-in-out;
    cursor: pointer;
}

#log-in-link {
    color: black;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

#log-in-link:hover {
    color: #587d71;
}

#sign-up-button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 35px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Raleway';
}

#sign-up-button:hover {
    background-color: #91c4b3;
    transition: 0.2s;
}

#signup-initial {
    width: 20px;
    color: #466158;
    margin-right: 15px;
}

#signup-button:hover {
    border: 2px white solid;
}

#logo-container {
    font-family: 'Raleway';
    font-weight: 900;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#logo-first {
    font-size: 24px;
}

#logo-second {
    font-size: 40px;
}

#mobile-menu {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    #mobile-menu {
        display: block;
        position: relative;
        visibility: visible;
    }
    
    #splash-nav-right,
    #about-link {
        display: none;
        visibility: hidden;
        position: absolute;
    }
}

@media screen and (max-width: 1000px) {

    #splash-nav-left {
        justify-self: center;
    }

    
    .fa-bars {
        color: rgb(72, 72, 72);
        font-size: 20px;
    }

    #mobile-dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px;
        top: 0px;
        right: -5px;
        background-color: white;
        border-radius: 5px;
        z-index: 10;
        overflow: show;
        font-size: 16px;
    }

    #demo-login {
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 16px;
    }

    button#log-in-link {
        padding: 0;
        font-size: 16px;
    }

    .mobile-link a:hover,
    #demo-login:hover  {
        color: #466158;
        background-color: transparent;
    }

    .mobile-link {
        margin: 10px 0;
    }
}