#demo-login {
    border: 2px black solid;
    border-radius: 5px;
    padding: 4px 11px;
    font-size: 20px;
    background-color: transparent;
    color:black;
}

#demo-login:hover {
    /* border: 2px #60E6B9 solid; */
    background-color: black;
    cursor:pointer;
    color: #60E6B9;
}