#friends-container {
    padding: 20px;
}

#friends-container.dark {
    background-color: rgb(50, 50, 50);
}

.friend-box {
    background-color: #A2E0CB;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    height: fit-content;
}

#all-friends {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

#friends-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    margin: 0 0 20px 0;
    height: fit-content;
}

.friend-box.dark{
    background-color: #409679;
}

.replacement-photo-friend {
    background-color: rgb(210, 210, 210);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    border-radius: 5px;
}

.friend-box:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.friend-box a,
.friend-box a:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.friend-box h3 {
    margin: 5px;
    text-decoration: none;
}

.friend-box p {
    margin: 0px;
    text-decoration: none;
}

.friend-picture {
    height: 150px;
    width: 150px;
    object-fit: cover;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .friend-box {
        width: 150px;
        height: 240px;
    }

    .friend-box h3 {
        font-size: 18px;
        text-align: center;
    }

    .friend-box p {
        font-size: 14px;
    }

    .friend-picture {
        height: 125px;
        width: 125px;
    }
}